@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Microsoft Colombia<br />
    Cll 92 #11 Piso 10<br />
    <abbr title="Phone">P:</abbr>
    313 489 8493
</address>

<address>
    <strong>Support:</strong> <a href="mailto:juanh@microsoftswat.com">juanh@microsoftswat.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:juanh@microsoftswat.com">juanh@microsoftswat.com</a>
</address>
